/* Style of header and footer */
body
{
	margin: 0px;
}

div.header, div.footer, div.content
{
	width: 100%;
	margin: 0px;
	
	float: left;
	clear: both;
}


div.buttons
{
	min-height: 50px;
	
	padding: 10px;
	
	float: left;
}

div.header
{
	border-bottom: 1px solid gray;
	
	background-color: snow;
}

div.header p
{
	margin: 10px 20px;
}

div.footer
{
	border-top: 1px solid gray;
	
	text-align: center;
}

div.logoutButton
{
    float: right;
}