/* css for forms */

div.box, div.colorBox, ul.errorlist
{
	margin: 20px;
	padding: 30px;
	border: 1px solid gray;
	border-radius: 8px;

	box-shadow: 3px 3px 3px gray;
}

ul.errorlist
{
	border: 1px solid red;
	border-radius: 4px;
	
	padding: 3px;
	background-color: OrangeRed;
}

ul.errorlist li
{
	margin: 2px;

	color: white;
}

div.colorBox
{
	color: white;
	background-color: CornflowerBlue;
	border: 1px solid SkyBlue;
}