/* Style of header and footer */
body
{
	margin: 0px;
}

div.header, div.footer, div.content
{
	width: 100%;
	margin: 0px;
	
	float: left;
	clear: both;
}


div.buttons
{
	width: auto;
	display: inline-block;
	padding: 10px;
}

div.header
{
	border-bottom: 1px solid gray;
}

div.header span
{
	margin: 10px;
}

div.footer
{
	border-top: 1px solid gray;
	
	text-align: center;
}