div.pagenav
{
	margin: 20px;
	border: 1px solid SkyBlue;
	border-radius: 4px;
	
	color: white;
	
	background-color: CornflowerBlue;
	box-shadow: 3px 3px 3px gray;
}

div.pagenav li
{
	display: inline-block;
	min-width: 25px;
	margin: 0px;
	
	padding: 0px;
	text-align: center;
	
	text-shadow: 1px 1px gray;
}

div.pagenav span.summary
{
	font-weight: bolder;
	
	text-shadow: None;
}

div.pagenav span.disabled
{
	color: gray;
}

div.pagenav span.current_page
{
	font-weight: bold;
	color: black;
}

div.pagenav a
{
	padding: 5px;
	margin: 1px;
	text-decoration: none;
}

div.pagenav a:link, div.pagenav a:visited
{
	color: white;
}

div.pagenav a:hover, div.pagenav a:active
{
	color: blue;
}