<!-- Show a table -->

{% extends "showdata/basic.html" %}

{% block head %}
<link rel = "stylesheet" type = "text/css" href = "/static/general/form.css/" />
<link rel = "stylesheet" type = "text/css" href = "/static/general/paginator.css/" />
<link rel = "stylesheet" type = "text/css" href = "/static/showdata/table.css/" />
{% endblock %}

{% block buttons %}
	<input type = "button" value = "删除" />
{% endblock %}

{% block header %}
	<div class = "filter">
		<form action = "" method = "GET">
			{{ form.as_p }}
			<input type = "submit" name = "submit" value = "确定"/>
		</form>
	</div>

	<p>{{ path }}</p>
{% endblock %}

{% block content %}
	{% include "general/pagination.html" %}
	<div>
		<table class = "content">
			<tr>
			{% for heading in table_headings %}
				<th>{{ heading }}</th>
			{% endfor %}
			</tr>
			{% for row in content %}
				<tr>
				{% for element in row %}
					<td>{{ element }}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
	{% include "general/pagination.html" %}
{% endblock %}