<!-- 显示表格 -->

<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel = "stylesheet" type = "text/css" href = "/static/general/headerfooter.css/" />
	</head>

	<body>
		<div class = "header">
			<div class = "buttons">
				<input type = "button" value = "测试按钮"/>
			</div>
			测试用的顶栏
		</div>
		<div class = "content">
			<p>测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />测试用的内容<br />
			</p>
		</div>
		{% include "general/footer.html" %}
	</body>
</html>