<!-- Show a table -->

{% extends "showdata/basic.html" %}

{% block buttons %}
	<input type = "button" value = "删除" />
{% endblock %}

{% block header %}
	{{ path }}
{% endblock %}

{% block content %}
	<div>
		<table>
			<tr>
			{% for element in table_headings %}
				<th>{{ element }}<th>
			{% endfor %}
			</tr>
			{% for row in content %}
				<tr>
				{% for element in row %}
					<td>{{ element }}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
	{% include "general/pagination.html" %}
{% endblock %}