<!-- Show a page navigation bar -->
<!-- Needs: general/paginator.css;general/form.css -->
<script src = "/static/general/paginator.js/"></script>
<div class = "pagenav colorBox">
	<ul>
		<li><span class = "summary">共{{ paginator.count }}行，{{ paginator.num_pages }}页</span></li>
		
		<li><a href = "javascript:toPage(1)" title = "第1页">首页</a></li>
		
		{% if content.has_previous  %}
			<li><a href = "javascript:toPage({{ content.previous_page_number }})" title = "第{{ content.previous_page_number }}页">上一页</a></li>
		{% else %}
			<li><span class = "disabled">上一页</span></li>
		{% endif %}
		
		{% for page_num in page_range %}
			<li>
			{% ifequal page_num content.number %}
				<span class = "current_page">{{ page_num }}</span>
			{% else %}
				<a href = "javascript:toPage({{ page_num }})" title = "第{{ page_num }}页">{{ page_num }}</a>
			{% endifequal %}
			</li>
		{% endfor %}
		
		{% if content.has_next %}
			<li><a href = "javascript:toPage({{ content.next_page_number }})" title = "第{{ content.next_page_number }}页">下一页</a></li>
		{% else %}
			<li><span class = "disabled">下一页</span></li>
		{% endif %}
		
		<li><a href = "javascript:toPage({{ content.paginator.num_pages }})" title = "第{{ content.paginator.num_pages  }}页">尾页</a></li>
		
	</ul>
</div>
