<!DOCTYPE html>
<html>
	<head>
		<title>登录</title>
		<link rel = "stylesheet" type = "text/css" href = "/static/auth/login.css/" />
		<link rel = "stylesheet" type = "text/css" href = "/static/general/basic.css/" />
		<link rel = "stylesheet" type = "text/css" href = "/static/general/form.css/" />
	</head>
	<body>
		<div class = "login box">
			<form method = "POST">
				{% csrf_token %}
				{% if error %}
				<ul class = "errorlist">
					<li>{{ error }}</li>
				</ul>
				{% endif %}
				<p>
					<label for = "id_username">用户名：</label>
					<input type = "text" name = "username" id = "id_username"/>
				</p>
				<p>
					<label for = "id_password">密码：</label>
					<input type = "password" name = "password" id = "id_password" />
				</p>
				<input type = "hidden" name = "next" value = "{{ next }}" />
				<p>
					<input type = "submit" value = "登录" />
				</p>
			</form>
		</div>
		{% include "general/footer.html" %}
	</body>
</html>