
div.tableWraper
{
    display: inline-block;
    vertical-align:text-top;
}

div.filter
{
    display: inline-block;
    vertical-align:text-top;
    
    min-width: 200px;
	
	padding: 10px;
}

table.content
{   
	border-collapse:collapse;
	margin: 20px;
	
	box-shadow: 3px 3px 3px gray;
}

table.content th, table.content td
{
	border: 1px solid gray;
	
	padding: 5px;
}

table.content tr:nth-child(odd) td
{
	background: Lavender;
}

table.content th
{
	background-color: SkyBlue;
}
