<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "/static/general/basic.css/" />
		{% block head %}{% endblock %}
	</head>

	<body>
		<div class = "header">
            <div class = "logoutButton">
                {% include "auth/logoutButton.html" %}
            </div>
			<div class = "buttons">
				{% block buttons %}{% endblock %}
			</div>
			{% block header %}{% endblock %}
		</div>
		<div class = "content">
			{% block content %}{% endblock %}
		</div>
		{% include "general/footer.html" %}
	</body>
</html>