<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "/static/general/basic.css/" />
		{% block head %}{% endblock %}
	</head>

	<body>
		<div class = "header">
			<div class = "buttons">
				{% block buttons %}
                    <form action = "../" method = "GET">
                        <input type = "submit" name = "" value = "返回" /><br />
                    </form>
                    <form method = "GET">
                        <input type = "submit" name = "rename" value = "移动" /><br />
                        <input class = "danger" type = "submit" name = "delete" value = "删除" /><br />
                    </form>
                {% endblock %}
                {% block otherButtons %}{% endblock %}
			</div>

            <div class = "logoutButton">
                {% include "auth/logoutButton.html" %}
            </div>

			{% block header %}{% endblock %}
		</div>

		<div class = "content">
			{% block content %}{% endblock %}
		</div>

		{% include "general/footer.html" %}
	</body>
</html>