{% extends "fileManager/basic.html" %}

{% block head %}
    <title>删除 {{ path }}</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/general/form.css/" />
{% endblock %}

{% block header %}
    <h1>删除文件<h1>
{% endblock %}

{% block content %}
    <div class = "box">
        <p>你确定要删除"{{ path }}"吗？</p>
        <form method = "POST">
            {% csrf_token %}
            <input type = "submit" name = "delete" value = "确定" />
            <input type = "submit" value = "取消"/>
        </form>
    </div>
{% endblock %}