{% extends "fileManager/basic.html" %}

{% block head %}
    <title>文件夹 {{ foldername }}</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/general/form.css/" />
    <link rel = "stylesheet" type = "text/css" href = "/static/fileManager/folder.css/" />
{% endblock %}

{% block header %}
    <p>
    当前目录：
    {% if path %}
        {{ path }}
    {% else %}
        根目录
    {% endif %}
    </p>
    <p><a href = "{{ upload_URL|safe }}" title = "上传" target = "_blank">上传文件</a></p>
{% endblock %}

{% block content %}
    <div class = "box">
            {% if path %}
                <a href = "../" title = "上一级目录">返回上一级目录</a>
            {% endif %}
        <table class = "files">
            {% for file in files %}
                <tr title = "{{ file.fileName }}">
                    <td><a href = "{{ file.quotedFileName }}/">{{ file.fileName }}</a></td>
                    <td class = "buttonWraper"><form action = "{{ file.quotedFileName }}/" method = "GET">
                        <input class = "danger" type = "submit" name = "delete" value = "删除" />
                    </form></td>
                    <td class = "buttonWraper"><form action = "{{ file.quotedFileName }}/" method = "GET">
                        <input type = "submit" name = "rename" value = "移动/命名" />
                    </form></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}