<!DOCTYPE html>
<html>
	<head>
		<title>移动 {{ path }}</title>
		<link rel = "stylesheet" type = "text/css" href = "/static/general/headerfooter.css/" />
		<link rel = "stylesheet" type = "text/css" href = "/static/general/form.css/" />
	</head>
	<body>
        <div class = "content">
            <div class = "box">
                <p>移动"{{ path }}"</p>
                <p>若目标路径和原始路径在同一文件夹下则为重命名。文件夹不存在则会被创建。</p>
                <form method = "POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type = "submit" name = "rename" value = "确定" />
                    <input type = "submit" name = "" value = "取消" />
                </form>
            </div>
        </div>
		{% include "general/footer.html" %}
	</body>
</html>